
* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.absolute-table {
	position: absolute;
	top: -106px;
	right: 20px;
	height: 86px;
	width: auto;
}

.modal-container .container img,
.absolute-table img {
	padding: 0 !important;
	height: 100% !important;
	width: auto !important;
}

.full-height {
	height: 100vh;
	/*min-height: 600px;*/
	width: 100vw;
}
/*.full-height > * {
	min-height: 1000px;
}*/

#logo {
	position: relative;
}
#logo .logo {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 160px;
}
#logo .logo svg,
#logo .logo img {
	padding: 23px 46px 42px;
	width: 100%;
}
#logo .logo .lines-holder {
	text-align: center;
	font-size: 0;
	width: 100%;
}
#logo .logo .lines-holder .line {
	background: #fff;
	display: inline-block;
	margin: 0 4px;
	height: 50px;
	width: 8px;
	-webkit-transition: background .3s;
	transition: background .3s;
}

#vertical-viewport {
	float: left;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
#vertical-viewport * {
	cursor: none;
}
#clean {
	cursor: default;
}
#application-holder {
	overflow: hidden;
	height: 100%;
	/*height: 0;*/
	/*min-height: 1000px;*/
	width: 100%;
	/*width: 0;*/
}
#horizontal-viewport {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: opacity 0.6s ease-in;
	transition: opacity 0.6s ease-in;
}
#horizontal-viewport > * {
	opacity: 1;
	width: 100vw;
	-webkit-transition: opacity 1s ease-in, transform 1.6s cubic-bezier(0.47, 0, 0.2, 1);
	transition: opacity 1s ease-in, transform 1.6s cubic-bezier(0.47, 0, 0.2, 1);
}
#horizontal-viewport.translating > * {
	opacity: 0;
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
}
#horizontal-viewport > .full-height {
	float: left;
	/*width: 100%;*/
}
#animatedLogo {
	position: absolute;
	display: none;
}

.socials-holder.deactive {
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}
.socials-holder {
	opacity: 1;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 11;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}
.socials-holder li {
	display: inline-block;
	margin-right: 20px;
}
.socials-holder a {
	color: #fff;
	opacity: 0.6;
	font-size: 1.1vw;
	-webkit-transition: opacity .3s;
	transition: opacity .3s;
}
.socials-holder a:hover {
	opacity: 1;
	-webkit-transition: opacity .1s;
	transition: opacity .1s;
}

.portrait-orientation {
	background-color: #000000;
	color: #ffffff;
	display: none;
	font-family: 'Bender', sans-serif;
	position: fixed;
	text-align: center;
	height: 100%;
	font-size: 14px;
	line-height: 36px;
	vertical-align: middle;
	width: 100%;
	z-index: 999;
}
.portrait-orientation span {
	display: table-cell;
	vertical-align: middle;
}
.portrait-orientation span img {
	width: 320px;
}


/* MAIN-NAVIGATION */
/*#main-navigation {
	cursor: default;
	color: #fff;
	opacity: 1;
	position: absolute;
	top: 0;
	left: 0;
	height: 140px;
	width: 100%;
	z-index: 11;
	-webkit-transition: opacity 2s;
	-webkit-transition-delay: .6s;
	transition: opacity 2s;
	transition-delay: .6s;
}
#main-navigation ul {
	text-align: center;
}
#main-navigation li {
	display: inline-block;
	margin: 3.5vw 4.7vw 0;
}
#main-navigation li:first-child {
	margin-left: 0;
}
#main-navigation li:last-child {
	margin-right: 0;
}
#main-navigation li:nth-child(2) {
	margin-right: 200px;
}
#main-navigation li a {
	color: #fff;
	font-size: 0.88vw;
	letter-spacing: 0.4em;
	text-decoration: none;
	position: relative;
	padding: 0.20vw 0.6vw;
	right: -1.1vw;
	-webkit-transition: color 0s;
	transition: color 0s;
}

#main-navigation li a:before {
	content: '';
	position: absolute;
	left: -4px;
	bottom: 0;
	background: transparent;
	height: 14px;
	width: 4px;
	-webkit-transition: background 0.3s;
	transition: background 0.3s;
}
#main-navigation li:hover a:before,
#main-navigation li.active a:before {
	background: #fff;
	-webkit-transition: background 0s;
	transition: background 0s;
}
#main-navigation li:hover a,
#main-navigation li.active a {
	color: #000;
	background: #fff;
	-webkit-transition: all .3s;
	transition: all .3s;
}
#main-navigation li a:hover {
	-webkit-transition: color .1s;
	transition: color .1s;
}
#main-navigation li a:after {
	background-color: rgb(255,255,255);
	content: '';
	position: absolute;
	left: -3px;
	opacity: 0;
	top: 45%;
	height: 1px;
	width: 100%;
	-webkit-transition: all .3s;
	transition: all .3s;
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
}
#main-navigation li.active a:after {
	background-color: rgb(0,0,0);
}
#main-navigation li a:hover:after {
	opacity: 0;
	-webkit-transition: all .1s;
	transition: all .1s;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}
#main-navigation.invisible .logo {
	pointer-events: none;
}
#main-navigation .logo {
	background: #000;
	cursor: pointer;
	left: 50%;
	position: absolute;
	width: 7vw;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: background .6s;
	transition: background .6s;
	z-index: 1;
}
#main-navigation .logo svg,
#main-navigation .logo img {
	margin: 1.2vw 34% 1.34vw;
	width: 32%;
}
#main-navigation .logo:hover {
	background: #fff;
	-webkit-transition: background .3s, transform 1s ease-out;
	transition: background .3s, transform 1s ease-out;
}
#main-navigation .logo:hover .lines-holder .line {
	background: #000;
	-webkit-transition: background .3s;
	transition: background .3s;
}
#main-navigation .logo svg path {
	-webkit-transition: fill .3s;
	transition: fill .3s;
}
#main-navigation .logo:hover svg path {
	fill: #000000 !important;
	-webkit-transition: fill .3s;
	transition: fill .3s;
}
#main-navigation .logo .lines-holder {
	text-align: center;
	font-size: 0;
	width: 100%;
}
#main-navigation .logo .lines-holder .line {
	background: #fff;
	display: inline-block;
	margin: 0 2px;
	height: 34px;
	width: 6px;
	-webkit-transition: background .3s;
	transition: background .3s;
}
#main-navigation.closed {
	cursor: none;
}
#main-navigation.closed .logo {
	background-color: transparent;
	-webkit-transform: translateX(-50%) translateY( -150% );
	transform: translateX(-50%) translateY( -150% );
	-webkit-transition: transform 1s, background 1s, left 1s;
	transition: transform 1s, background 1s, left 1s;
}
#main-navigation.closed .logo:hover svg path {
	fill: #ffffff !important;
}
#main-navigation.closed .logo:hover .lines-holder .line {
	background: #fff;
}
#main-navigation.closed li {
	-webkit-transition: transform 1s;
	transition: transform 1s;
}
#main-navigation.closed li:nth-child(-n+2) {
	-webkit-transform: translateX(-100vw);
	transform: translateX(-100vw);
}
#main-navigation.closed li:nth-child(n+3) {
	-webkit-transform: translateX(100vw);
	transform: translateX(100vw);
}
#main-navigation.invisible {
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 1s;
	transition: opacity 1s;
}
@media screen and (max-width: 1199px) {
	#main-navigation {
	}
	#main-navigation li {
		margin: 47px 80px 0;
	}
	#main-navigation li:nth-child(2) {
		margin-right: 270px;
	}
	#main-navigation li:last-child {
		margin-right: -20px;
	}
	#main-navigation li a {
		font-size: 13px;
		letter-spacing: 5px;
	}
	#main-navigation .logo {
		background-color: black;
		cursor: pointer;
		position: absolute;
		left: 50%;
		height: 100px;
		width: 94px;
	}
	#main-navigation .logo svg, #main-navigation .logo img {
		padding: 16px 31px 13px 31px;
	}
	#main-navigation .logo .lines-holder .line {
		margin: 0 2px;
		height: 24px;
		width: 4px;
		-webkit-transition: background .3s;
		transition: background .3s;
	}
}
@media screen and (max-width: 980px) {

	#main-navigation li a {
		font-size: 12px;
	}
	#main-navigation li {
		margin: 47px 60px 0;
	}
	#main-navigation li:nth-child(2) {
		margin-right: 100px;
	}
	#main-navigation li:last-child {
		margin-right: -20px;
	}

}
@media screen and (max-width: 700px) {

	#main-navigation .logo {
		height: 60px;
	}
	#main-navigation li {
		margin: 47px 20px 0;
	}
	#main-navigation li:nth-child(2) {
		margin-right: 170px;
	}
	#main-navigation li:last-child {
		margin-right: -20px;
	}

	#main-navigation .logo {
		height: 60px;
		width: 60px;
	}
	#main-navigation .logo svg, #main-navigation .logo img {
		padding: 16px 14px 13px;
	}
	#main-navigation .logo .lines-holder {
		display: none;
	}

	#main-navigation li {
		margin: 22px 36px 0;
	}
	#main-navigation li:nth-child(2) {
		margin-right: 70px;
	}
	#main-navigation li:last-child {
		margin-right: -20px;
	}
	#main-navigation li a {
		font-size: 11px;
	}

}
@media screen and (max-width: 550px) {

	#main-navigation li {
		margin: 22px 20px 0;
	}

}
@media screen and (max-width: 440px) {

	#main-navigation li {
		margin: 22px 6px 0;
	}

}*/


/* main alt */

#main-navigation.closed {
	cursor: none;
}
#main-navigation.closed .logo {
	background-color: transparent;
	-webkit-transform: translateX(-50%) translateY( -150% );
	transform: translateX(-50%) translateY( -150% );
	-webkit-transition: transform 1s, background 1s, left 1s;
	transition: transform 1s, background 1s, left 1s;
}
#main-navigation.closed .logo:hover svg path {
	fill: #ffffff !important;
}
#main-navigation.closed .logo:hover .lines-holder .line {
	background: #ffffff;
}
#main-navigation.closed li {
	-webkit-transition: transform 1s;
	transition: transform 1s;
}
#main-navigation.closed li:nth-child(-n+2) {
	-webkit-transform: translateX(-100vw);
	transform: translateX(-100vw);
}
#main-navigation.closed li:nth-child(n+3) {
	-webkit-transform: translateX(100vw);
	transform: translateX(100vw);
}

/*#main-navigation .logo {
	-webkit-transition: transform 1s, background 1s, left 1s;
	transition: transform 1s, background 1s, left 1s;
}*/
#main-navigation li {
	-webkit-transition: transform 1s;
	transition: transform 1s;
}

#main-navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1; }
	#main-navigation .logo {
		background: #000;
		cursor: pointer;
		left: 50%;
		position: absolute;
		width: 7vw;
		-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
		-webkit-transition: background .6s, transform 1s;
		transition: background .6s, transform 1s;
		z-index: 1; }
		#main-navigation .logo svg {
			margin: 1.2vw 34% 1.34vw;
			width: 32%; }
		#main-navigation .logo .lines-holder {
			text-align: center;
			font-size: 0;
			padding-bottom: 1.2vw;
		letter-spacing: 0;
			width: 100%; }
			#main-navigation .logo .lines-holder span.line {
				background: #fff;
				display: inline-block;
				margin: 0 0.18vw;
				height: 1.8vw;
				width: 0.34vw; }
		#main-navigation .logo:hover {
			background: #fff; }
			#main-navigation .logo:hover svg path {
				fill: #000 !important; }
			#main-navigation .logo:hover .lines-holder span.line {
				background: #000; }
	#main-navigation ul {
		text-align: center; }
		#main-navigation ul li {
			display: inline-block;
			margin: 3.5vw 4.7vw 0; }
			#main-navigation ul li a {
				color: #fff;
				text-decoration: none;
				position: relative;
				right: -1.1vw;
				letter-spacing: 0.4em;
				font-size: 0.88vw;
				padding: 0.20vw 0.6vw;
				font-weight: 500;
				-webkit-transition: color 0s;
				transition: color 0s; }
				#main-navigation ul li a span {
					position: relative;
					left: 0.1vw;
					line-height: 1em;
					z-index: 1; }
				#main-navigation ul li a:before, #main-navigation ul li a:after {
					background-color: rgba(255, 255, 255, 0);
					content: '';
					position: absolute;
					z-index: -1; }
				#main-navigation ul li a:before {
					left: 0;
					top: 0;
					height: 100%;
					width: 100%; }
				#main-navigation ul li a:after {
					left: -0.3vw;
					top: 45%;
					height: 55%;
					width: 0.5vw; }
				#main-navigation ul li.active a,
				#main-navigation ul li a:hover {
					color: #000;
					-webkit-transition: color 0.3s;
					transition: color 0.3s; }
					#main-navigation ul li a:hover:before, #main-navigation ul li a:hover:after, #main-navigation ul li.active a:before, #main-navigation ul li.active a:after {
						background-color: white; }
		#main-navigation ul li:nth-child(2) {
			margin-right: 12.8vw; }
		#main-navigation ul li:nth-child(3) {
			margin-left: 12.8vw; } 

#presentation {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 0;
	-webkit-filter: blur(0);
	filter: blur(0);
/*	transition: 0.1s filter linear;
	-webkit-transition: 0.1s -webkit-filter linear;*/
}
#presentation.blured {
	-webkit-filter: blur(20px);
	filter: blur(20px);
	transition: 0.1s filter linear;
	-webkit-transition: 0.1s -webkit-filter linear;
}
.presentation {
	overflow: hidden;
	position: relative;
	-webkit-mask-image: -webkit-gradient( linear, left 50%, right 50%, color-stop(0.00, rgba(0,0,0,0)), color-stop(0.15, rgba(0,0,0,1)), color-stop(0.85, rgba(0,0,0,1)), color-stop(1.00, rgba(0,0,0,0)));
}
.presentation .slider-viewport {
	overflow: visible;
}
.presentation .slider-viewport .slide {
	/*padding: 0 50px;*/
	height: 60vh;
	overflow: hidden;
}
.presentation .slider-viewport .slide > * {
	/*padding: 0 160px;*/
	/*width: calc(100vh - 140px);*/
	/*pointer-events: none;*/
}
.presentation > * {
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}
.presentation .slider-viewport .slide img {
	/*pointer-events: none;*/
	/* TODO temp */
	height: 60vh;
	height: 50vh;
	width: auto;
}
.presentation .paginator-holder {}
.presentation .paginator-holder .prev-slide,
.presentation .paginator-holder .next-slide {
	/*background: #eee;*/
	/*pointer-events: none;*/
	position: absolute;
	top: 0;
	height: 100%;
	width: 20%;
}
.presentation .paginator-holder .prev-slide {
	left: 0;
}
.presentation .paginator-holder .next-slide {
	right: 0;
}

.gallery-slider {
	cursor: grab;
	cursor: -webkit-grab;
	position: absolute;
	top: 61%;
	left: 0;
	width: 100vw;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.gallery-slider .slider-viewport {
	margin: auto;
	width: 80%;
	/*width: calc(60vh + 200px);*/
	width: 50vw;
	max-width: 100%;
}
.presentation .slider-viewport .slide > * {
	/*padding: 0 100px;*/
	padding: 0;
	/*width: calc(100vh - 140px);*/
	/*pointer-events: none;*/
}
.gallery-slider .slider-holder.touched {
	cursor: grabbing;
	cursor: -webkit-grabbing;
	-webkit-transition: none;
	transition: none;
}

/*noinspection CssInvalidPropertyValue*/
.foreground-holder {
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	-webkit-mask-image: -webkit-radial-gradient(black 0, black 1px, black 50px, transparent 140px, transparent 1200px);
	mask-image: -webkit-radial-gradient(black 0, black 1px, black 50px, transparent 140px, transparent 1200px);
	-webkit-mask-mode: luminance;
	mask-mode: luminance;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position-x: -3000px;
	-webkit-mask-position-y: -3000px;
}
.background-holder {
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.background-holder img,
.foreground-holder img {
	display: block;
	/*height: 100%;*/
	min-width: 100%;
	width: 100%;
}
a.main-mailto {
	color: #dcdbda;
	display: block;
	font-family: 'Bender', sans-serif;
	/*font-size: 14px;*/
	font-weight: 400;
	letter-spacing: 9px;
	padding: 0;
	text-align: center;
	/*width: 100%;*/
	z-index: 10;
}
section.screen-1 {
	position: relative;
}
section.screen-2 {
	position: relative;
	/*margin-bottom: 180px;*/
}
section.screen-1,
section.screen-2,
section.screen-3 {
	display: table;
	position: relative;
}
section.screen-1 .container,
section.screen-2 .container,
section.screen-3 .container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	padding: 2.9vh 15vw;
}

.content-holder {
	cursor: auto;
	background: rgba(255,255,255,.2);
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.2) 10%, rgba(255,255,255,0.2) 90%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 10%,rgba(255,255,255,0.2) 90%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.2) 10%,rgba(255,255,255,0.2) 90%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
	position: absolute;
	left: 0;
	right: 0;
	top: 250px;
	bottom: 150px;
	z-index: -1;
}
@media screen and ( max-height: 800px ) {

	.content-holder {
		top: 150px;
		bottom: 10px;
	}

}
@media screen and ( max-height: 600px ) {

	.content-holder {
		display: none;
	}

}
#contact .container > .data-block {
	height: 184px;
}
#contact .container {
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
}
section.screen-3 .container {
	/*position: relative;*/
	cursor: auto;
	text-align: left;
	opacity: .8;
	z-index: 1;
	/*max-height: calc(100vh - 400px);*/
}
section.screen-3 .container .content-holder {
	top: 26vh;
	bottom: 26vh;
}
section#screen-3 .container .content-holder {
	/*top: 200px;*/
	/*bottom: 200px;*/
	top: 29.2vh;
	bottom: 20.6vh;
}

section.screen-3 .container .col-left,
section.screen-3 .container .col-right {
	overflow: auto;
	/*max-height: calc(100vh - 400px);*/
}
section.screen-3 .container .col-left {
	padding-right: 60px;
}
section.screen-3 .container .col-right {
}
section.screen-3 .container p,
section.screen-3 .container p a {
	color: #fff;
	/*font-size: 18px;*/
	font-weight: 400;
	line-height: 1.5em;
	margin-bottom: 0;
}
section.screen-3 .container .col-right p:nth-of-type(even) {
	margin-bottom: 10px;
}
#about .container {
/*	columns: 1;
	-moz-columns: 1;
	-webkit-columns: 1;*/
	padding-top: 12vh;
}
#about .container img {
	height: 44vh;
	width: auto;
}
.modal-holder {
	overflow: auto;
	/*background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.2) 90%, rgba(255, 255, 255, 0) 100%);*/
	/*background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 10%, rgba(255, 255, 255, 0.2) 90%, rgba(255, 255, 255, 0) 100%);*/
	position: absolute;
	width: 100%;}
.modal-container {
	color: #d1cdc0;
	/*font-size: 18px;*/
	line-height: 1.3em;
	letter-spacing: 8px;
	font-weight: 400;
	word-spacing: 5px;
	/*min-height: 540px;*/
}
.modal-holder .modal-content .container {
	height: 540px;
}
.modal-container .container img {
	cursor: pointer;
	padding: 40px 0;
	/*height: 400px;*/
	width: auto;
	/*max-height: 200px;*/
}
.modal-container .container h1,
.modal-container .container h2,
.modal-container .container h3,
.modal-container .container h4,
.modal-container .container h5,
.modal-container .container h6 {
	color: #fff;
	margin-bottom: 30px;
	padding-top: 0;
	padding-left: 40px;
	padding-right: 40px;
	font-weight: bold;
}
.modal-container .container p {
	display: block;
	padding-top: 0;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	text-align: left;
	line-height: 1.6em;
	/*min-height: 100%;*/
	color: #d1cdc0;
	font-size: 1.4vh;
	line-height: 1.3em;
}
.modal-holder .modal-content {
	position: relative;
}
.modal-holder .modal-content .container {
	width: 1060px;
	width: 98%;
	height: 50vh;
	white-space: nowrap;
}
.modal-holder .modal-content .container * {
	display: inline-block;
	vertical-align: top;
	padding: 0 3vw;
	width: 58%;
	white-space: initial;

	-webkit-touch-callout: initial;
	-webkit-user-select: initial;
	-khtml-user-select: initial;
	-moz-user-select: initial;
	-ms-user-select: initial;
	user-select: initial;

	column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
}
.modal-holder .modal-content .container * * {
	display: block;
	padding: 0;
	width: 100%;
}
.modal-holder .modal-content .container * span {
	color: #fff;
	margin-bottom: 30px;
	padding-top: 0;
	font-weight: bold;
}
.modal-holder .modal-content .container .absolute-table {
	width: auto !important;
}
.modal-image {
	transform-origin: 50% 50%;
	-webkit-transform: scale(1);
	transform: scale(1);
	/*opacity: 0;*/
	-webkit-transition: all .6s;
	transition: all .6s;
}
.tint {
	background: rgba(0,0,0,0);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 19;
	-webkit-transition: background .6s;
	transition: background .6s;
}
.tint.active {
	background: rgba(0,0,0,.6);
	-webkit-transition: background .6s;
	transition: background .6s;
}
.mobile {}
.mobile #presentation {
	-webkit-filter: blur(0px) !important;
	filter: blur(0px) !important;
	transition: 1s filter linear !important;
	-webkit-transition: 1s -webkit-filter linear !important;
}
.mobile #presentation.blured {
	-webkit-filter: blur(20px) !important;
	filter: blur(20px) !important;
	transition: 1s filter linear !important;
	-webkit-transition: 1s -webkit-filter linear !important;
}

/*------------------------------------------------------*/
/* MOBILE */
/*------------------------------------------------------*/
@media screen and (max-width: 900px) {

	body {
		font: 3.6vh/1.4em 'Bender', Arial, sans-serif;
	}

	#about,
	#contact {
		overflow: auto;
	}
	#about .container,
	#contact .container {
		-webkit-columns: 1;
		-moz-columns: 1;
		columns: 1;
		/*padding: 56px;*/
		padding: 4vh 10vw;
	}
	section.screen-1 .container, section.screen-2 .container, section.screen-3 .container {
		/*padding: 0;*/
	}
	.modal-holder .modal-content .container * {
		width: 88%;
		width: 100%;
	}

	.modal-container .container p {
		font-size: 2.2vh;
	}
	#main-navigation ul li {
		margin: 3.5vw 2.7vw 0;
	}
	#main-navigation ul li a {
		font-size: 1.5vw;
	}
	#main-navigation ul li:nth-child(2) {
		margin-right: 4.8vw;
	}

}

@media only screen and (orientation:portrait) {
	.portrait-orientation {
		display: table;
	}
}

