.portrait-orientation {
	background-color: #000000;
	color: #ffffff;
	display: none;
	font-family: 'Bender', sans-serif;
	position: absolute;
	padding: 20px;
	text-align: center;
	height: 100%;
	font-size: 22px;
	line-height: 36px;
	vertical-align: middle;
	width: 100%;
	z-index: 999;
}
.portrait-orientation span {
	display: table-cell;
	vertical-align: middle;
}
section#presentation {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 0;
}
.foreground-holder {
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	-webkit-mask-image: -webkit-radial-gradient(black 0, black 1px, black 120px, transparent 220px, transparent 1200px);
	mask-image: radial-gradient(black 0, black 1px, transparent 180px, transparent 1200px);
	-webkit-mask-mode: luminance;
	mask-mode: luminance;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position-x: -3000px;
	-webkit-mask-position-y: -3000px;
}
.background-holder {
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.background-holder img,
.foreground-holder img {
	display: block;
	/*height: 100%;*/
	min-width: 100%;
	width: 100%;
}
a.main-mailto {
	color: #dcdbda;
	font-family: 'Bender', sans-serif;
	font-size: 18px;
	font-weight: 400;
	position: fixed;
	text-align: center;
	bottom: 10px;
	margin: 0;
	padding: 0;
	width: 100%;
	z-index: 10;
}
section.about {}


