.portrait-orientation {
	background-color: #000000;
	color: #ffffff;
	display: none;
	font-family: 'Bender', sans-serif;
	position: fixed;
	padding: 20px;
	text-align: center;
	height: 100%;
	font-size: 14px;
	line-height: 36px;
	vertical-align: middle;
	width: 100%;
	z-index: 999;
}
.portrait-orientation span {
	display: table-cell;
	vertical-align: middle;
}
section#presentation {
	overflow: hidden;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 0;
}
.presentation {
	overflow: hidden;
}
.presentation .slider-viewport {
	overflow: visible;
}
.presentation .slider-viewport .slide {
	padding: 0 50px;
}
/*noinspection CssInvalidPropertyValue*/
.foreground-holder {
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	-webkit-mask-image: -webkit-radial-gradient(black 0, black 1px, black 50px, transparent 140px, transparent 1200px);
	mask-image: -webkit-radial-gradient(black 0, black 1px, black 50px, transparent 140px, transparent 1200px);
	-webkit-mask-mode: luminance;
	mask-mode: luminance;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position-x: -3000px;
	-webkit-mask-position-y: -3000px;
}
.background-holder {
	display: block;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.background-holder img,
.foreground-holder img {
	display: block;
	/*height: 100%;*/
	min-width: 100%;
	width: 100%;
}
a.main-mailto {
	color: #dcdbda;
	display: block;
	font-family: 'Bender', sans-serif;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 9px;
	padding: 0;
	text-align: center;
	/*width: 100%;*/
	z-index: 10;
}
section.screen-1 {
	position: relative;
}
section.screen-2 {
	position: relative;
	/*margin-bottom: 180px;*/
}
section.screen-1,
section.screen-2,
section.screen-3 {
	display: table;
	position: relative;
}
section.screen-1 .container,
section.screen-2 .container,
section.screen-3 .container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}


