
/*
	LARGE
*/
@media screen and (min-width: 1440px) {
}
/*------------------------------------------------------------------------------
	MEDIUM
------------------------------------------------------------------------------*/
@media screen and (max-width: 1439px) {
/*	#main-navigation li {
		margin: 76px 90px 0;
	}*/
}
/*--------------------------------------------------------------------------
	TABLET
--------------------------------------------------------------------------*/
@media screen and (max-width: 1199px) {
	.modal-holder .modal-content .container,
	.container {
		/*padding: 0 40px;*/
		width: 760px;
	}

	p,
	section.screen-3 .container p,
	section.screen-3 .container p a {
		font-size: 14px;
	}
}
/*
	MOBILE
*/
@media screen and (max-width: 840px) {
	.modal-holder .modal-content .container,
	.container {
		padding: 0 40px;
		width: 100%;
	}
	.modal-container {
		height: 100%;
		font-size: 12px;
	}
	.modal-holder .modal-content .container {
		/*padding: 40px;*/
	}
	p.type-1 {
		font-size: 12px;
		padding-left: 20px;
		padding-right: 20px;
		line-height: 24px;
	}
	p.type-1,
	a.main-mailto {
		letter-spacing: 6px;
		line-height: 24px;
	}
	a.main-mailto {
		font-size: 14px;
	}
	section.screen-3 .container p, section.screen-3 .container p a {
		font-size: 14px;
	}
	
/* 	#main-navigation {
	height: 60px;
}
#main-navigation .logo {
	left: 0;
	-webkit-transform: none;
	transform: none;
}
#main-navigation.closed .logo {
	left: 50%;
	-webkit-transform: translateX(-50%) translateY( -webkit-calc(50vh - 50%) );
	transform: translateX(-50%) translateY( calc(50vh - 50%) );
}
#main-navigation ul {
	text-align: right;
	padding-right: 20px;
}
#main-navigation li:last-child {
	margin-right: 0;
}
#main-navigation li:nth-child(2),
#main-navigation li {
	margin: 10px 20px 0;
}
#main-navigation.disabled {
} */
	.modal-holder {
		top: 60px;
	}
	.modal-holder .modal-content {
		top: 20px;
		bottom: 20px;
	}
	.modal-holder .modal-content .container {
		height: 100%;

		background: rgba(255,255,255,.2);
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 10%, rgba(255,255,255,0.4) 90%, rgba(255,255,255,0) 100%);
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 10%,rgba(255,255,255,0.4) 90%,rgba(255,255,255,0) 100%);
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.4) 10%,rgba(255,255,255,0.4) 90%,rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
	}
	section.screen-3 .container .col-left, section.screen-3 .container .col-right {
		max-height: initial;
	}
	.gallery-slider .slider-viewport {
		width: 60%;
	}
	.presentation .slider-viewport .slide > * {
		padding: 20px;
	}
	.content-holder {
		bottom: 20px;
		top: 40px;
	}
	.modal-holder .modal-content,
	.modal-holder .modal-content .container,
	.modal-container {
		background: transparent;
	}
	.modal-holder .modal-content .container {
		-webkit-column-count: initial;
		-moz-column-count: initial;
		column-count: initial;
		-webkit-column: initial;
		-moz-column: initial;
		column: initial;
	}
	.modal-container .container img {
		margin-bottom: 40px;
	}
	#contact .container {
		-webkit-column-count: initial;
		-moz-column-count: initial;
		column-count: initial;
		-webkit-column: initial;
		-moz-column: initial;
		column: initial;
		overflow: auto;
		/*height: 100vh;*/
		height: calc(100vh - 100px);
		max-height: 100vh;
		display: block;
		padding-top: 60px;
		margin-top: 40px;
	}
	#contact .container > .data-block {
		height: auto;
		text-align: center;
		margin-bottom: 40px;
	}
	#contact .container > .data-block h3 {
		margin-bottom: 20px;
	}
}
/*
	SMALL
*/
@media screen and (max-width: 570px) {
	/*noinspection CssInvalidPropertyValue*/
	.foreground-holder {
		-webkit-mask-image: -webkit-radial-gradient(black 0, black 2px, transparent 80px, transparent 140px);
		mask-image: radial-gradient(black 0, black 2px, transparent 80px, transparent 140px);
	}
/* 	#main-navigation li:nth-child(2),
#main-navigation li {
	margin: 10px 10px 0;
}
#main-navigation .logo {
	left: 0;
	margin: 0 10px;
	height: 60px;
	width: 40px;
	-webkit-transform: none;
	transform: none;
}
#main-navigation .logo svg, #main-navigation .logo img {
	padding: 6px 6px 2px;
}
#main-navigation .logo .lines-holder .line {
	margin: 0 2px;
	height: 16px;
	width: 2px;
} */
	.gallery-slider {
		top: 46%;
	}
	.modal-container .container h1,
	.modal-container .container h2,
	.modal-container .container h3,
	.modal-container .container h4,
	.modal-container .container h5,
	.modal-container .container h6,
	.modal-container .container p {
		padding-left: 0px;
		padding-right: 0px;
	}
	.modal-container .container p {
		font-size: 14px;
	}

}
/*
	xSMALL
*/
@media screen and (max-width: 400px) {
	.background-holder img,
	.foreground-holder img {
		max-width: 136%;
	}
}

@media only screen and (orientation:portrait) {
	.portrait-orientation {
		display: table;
	}
}


@media screen and (max-height: 770px) {

	.modal-content {
		margin-top: 0 !important;
	}
	.modal-holder {
		bottom: 10px;
	}
	.absolute-table {
		position: static;
		margin-bottom: 40px;
		width: 100%;
	}
	section.screen-3 .container {
		overflow: auto;
		height: 100%;
	}
	.modal-container .container img,
	.absolute-table img {
		height: auto !important;
		width: 100% !important;
	}
	section.screen-3 .container .content-holder {
		top: 120px;
		bottom: 80px;
	}
}